{{#if session.isAuthenticated}}
    <div id="account-info">
        {{#if currentUser.user.meta.permissions.admin}}
            {{#link-to 'admin'}}{{currentUser.user.name}}{{/link-to}}
        {{else}}
            {{#link-to 'profile' currentUser.user}} {{currentUser.user.name}} {{/link-to}}
        {{/if}}
        <button class="btn btn-flat blue-grey lighten-5" {{action 'invalidateSession'}}>Logout</button>
    </div>
{{else}}
    <div id="account-info" class="no-auth">
        {{#link-to 'login'}} Login {{/link-to}}
        {{#link-to 'register' class='btn btn-flat green white-text'}} Register {{/link-to}}
    </div>
{{/if}}
