<div id="register-form" class="card">
    <div class="card-tabs">
        <ul class="tabs row">
            <li class="tab col s6"><a href="#register-personal" class="green-text">Personal</a></li>
            <li class="tab col s6"><a href="#register-school" class="green-text">Activate School</a></li>
            <div class="indicator green" style="z-index:1;"></div>
        </ul>
    </div>
    <div class="card-content row">
        <div id="register-personal" class="form col s12">
            <form id="register-personal-form">
                <h4>Create an account</h4>
                {{#if errorMessage}}
                    <p class='error'>{{errorMessage}}</p>
                {{/if}}
                <div class="input-field">
                    <label for="name">Full Name</label>
                    {{input id='name' autofocus='true' value=name }}
                </div>
                <div class="input-field">
                    <label for="email">Email</label>
                    {{input id='email' value=email }}
                </div>
                <div class="input-field">
                    <label for="password">Password</label>
                    {{input id='password' type='password' value=password}}
                </div>
                <div class="input-field">
                    <button class="btn green" type="submit" {{action 'submitPersonal'}}>Submit</button>
                </div>
            </form>
        </div>

        <div id="register-school" class="form row">
            {{#if schoolStep1}}
                <form id="register-school-form" class="row col s12">
                    <h4>Activate school</h4>
                    <p>Start by entering your school's unique code.</p>
                    {{#if schoolErrorMessage1}}
                        <p class='error'>{{schoolErrorMessage1}}</p>
                    {{/if}}
                    <div class="input-field">
                        <label for="code">Code</label>
                        {{input id='school-code' value=school-code}}
                    </div>
                    <div class="input-field">
                        <button class="btn green" type="submit" {{action 'submitSchool1'}}>Submit</button>
                    </div>
                </form>
            {{/if}}
            {{#if schoolStep2}}
                <form id="register-school-form2" class="row col s12">
                    <h4>Activate School</h4>
                    {{#if schoolErrorMessage2}}
                        <p class='error'>{{schoolErrorMessage2}}</p>
                    {{/if}}
                    {{input type='hidden' valueBinding=school-code2}}
                    <div class="input-field">
                        {{input id='school-name' value=school-name disabled=true}}
                    </div>
                    <div class="input-field">
                        {{input id='school-email' value=school-email disabled=true}}
                    </div>
                    <div class="input-field">
                        <label for="password">Password</label>
                        {{input id='school-password' type='password' value=school-password autofocus=true}}
                    </div>
                    <div class="input-field">
                        <button class="btn green" type="submit" {{action 'submitSchool2'}}>Submit</button>
                    </div>
                </form>
            {{/if}}
        </div>
    </div>
</div>
