<div id="content">

<style>
   #map {
    height: 430px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.1);
   }
</style>

    <div class="row s12">

        <div class="col s4">
            <div id="map"></div>
            {{share-panel buttons="fb, twitter,linkedin" labels="Share,Tweet,Share" 
                title =(concat school.name ' - reservEDU') url=router.url text=school.address}}
        </div>
        <div class="col s8">
            <h2 class="header">{{school.name}}</h2>
            <p>{{school.address}}</p>
            <br>
            <h3 class="underline" style="margin-bottom: 0px;">Facilites</h3>

            {{#if facilities}}

                <table style="display: block;">
                    <tbody style="display: block; width: auto; overflow-x: scroll; white-space: nowrap;">
                        <tr>
                        {{#each facilities as |facility|}}
                            <td>
                                {{#link-to 'facility' facility class='blue-text'}}
                                    <tr>
                                      <div class="card school-card">
                                          <div class="card-image">
                                              <img src="/assets/images/facility_stock.jpg">
                                              <span class="card-title">{{facility.name}}</span>
                                          </div>
                                          <div class="card-content">
                                              <span class="grey-text">{{facility-price facility.meta.price}}</span>
                                          </div>
                                      </div>
                                  </tr>
                                {{/link-to}}
                            </td>
                        {{/each}}
                        </tr>
                    </tbody>
                </table>

            {{else}}

                <p>Looks like this school doesn't have any facilities yet!</p>

            {{/if}}

        </div>

    </div>

</div>
